@model BugTracker.Models.TicketComments

@using (Html.BeginForm(ActionName.CREATE, ControllerName.TICKET_COMMENTS, FormMethod.Post, new { enctype = Common.MULTIPART_FORM_DATA }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TicketId)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Created)
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type your comment here" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}