@model BugTracker.Models.Tickets
@using BugTracker.Models
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    bool readOnly = true;
    string userId = User.Identity.GetUserId();
    if (Request.IsAuthenticated && ((UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR) || UserRolesHelper.IsUserInRole(userId, Role.PROJECT_MANAGER)) || userId == Model.AssignedToUser.Id))
    {
        readOnly = false;
    }
    ViewDataDictionary vData = new ViewDataDictionary();
    vData.Add(new KeyValuePair<string, object>("readOnly", readOnly));
}

<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<div class="row" style="margin-bottom: -2px;">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 style="margin-top:0px;">Ticket Information</h2>
            <ul class="nav nav-tabs">
                <li id="tab0" class="@ViewBag.Tab0"><a data-toggle="tab" href="#info">Details</a></li>
                <li id="tab1" class="@ViewBag.Tab1"><a data-toggle="tab" href="#history">History</a></li>
                <li id="tab2" class="@ViewBag.Tab2"><a data-toggle="tab" href="#comments">Comments</a></li>
                <li id="tab2" class="@ViewBag.Tab3"><a data-toggle="tab" href="#attachments">Attachments</a></li>
            </ul>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="well bs-component col-md-8">
            <div class="tab-content">
                <div id="info" class="tab-pane @ViewBag.Tab0">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Title)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Project
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Project.Name)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Priority
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TicketPriority.Name)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Status
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TicketStatus.Name)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Project
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Project.Name)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Type
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.TicketType.Name)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Assignee
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.AssignedToUser.FullName)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Owner
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.OwnerUser.FullName)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Created)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Created)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            @if (null != Model.Updated)
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Updated)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.Updated)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-md-12 modal-footer well-footer">
                                    <a href="@Url.Action(ActionName.INDEX, ControllerName.TICKETS)" class="btn btn-info">Done</a>
                                    @if (Request.IsAuthenticated && ((UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR) || UserRolesHelper.IsUserInRole(userId, Role.PROJECT_MANAGER)) || userId == Model.AssignedToUser.Id))
                                    {
                                        <a href="@Url.Action(ActionName.EDIT, ControllerName.TICKETS, new { id = Model.Id })" class="btn btn-success">Edit</a>
                                    }
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
                <div id="history" class="tab-pane @ViewBag.Tab1">
                    @Html.Partial(PartialViewName.TICKET_HISTORY, Model.Histories)
                </div>
                <div id="comments" class="tab-pane @ViewBag.Tab2">
                    @if (Request.IsAuthenticated && ((UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR) || UserRolesHelper.IsUserInRole(userId, Role.PROJECT_MANAGER)) || userId == Model.AssignedToUser.Id))
                    {
                        @Html.Partial(PartialViewName.ADD_COMMENT, new TicketComments() { TicketId = Model.Id, Created = DateTimeOffset.Now, UserId = ViewBag.CurrentUser })
                    }
                    @Html.Partial(PartialViewName.COMMENTS, Model.TicketComments, vData)
                </div>
                <div id="attachments" class="tab-pane @ViewBag.Tab3">
                    @*@if (Request.IsAuthenticated && ((UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR) || UserRolesHelper.IsUserInRole(userId, Role.PROJECT_MANAGER)) || userId == Model.AssignedToUser.Id))
                    {
                    }*@
                    @Html.Partial(PartialViewName.TICKET_ATTACHMENTS, Model.TicketAttachments)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

