@model BugTracker.Models.Tickets
@using BugTracker.Models
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Edit";
    string userId = User.Identity.GetUserId();
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="well bs-component col-md-6">
            @using (Html.BeginForm(ActionName.EDIT, ControllerName.TICKETS, FormMethod.Post, new { enctype = Common.MULTIPART_FORM_DATA }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Created)
                @Html.HiddenFor(model => model.Updated)
                <fieldset>
                    <legend>Edit Ticket</legend>
                    @foreach (TicketAttachments ticketAttachment in Model.TicketAttachments)
                    {
                        <div class="form-group row">
                            <div class="col-md-12" >
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <img class="img-responsive" src="@ticketAttachment.FileURL" data-toggle="tooltip" data-placement="right" title="@ticketAttachment.FileURL"/>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Add Attachment</label>
                            </div>
                            <div class="col-md-9">
                                <!-- Image Upload -->
                                <input id="fileUpload" name="image" type="file" class="form-control" />
                                @Html.ValidationMessageFor(model => model.TicketAttachments, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Title)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Title)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Description)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Description)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Created)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Created)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Updated)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.EditorFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Updated)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.TicketStatusId)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.TicketStatus.Name)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.TicketPriorityId)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.TicketPriority.Name)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.TicketTypeId)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.TicketType.Name)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.ProjectId)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.Project.Name)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.OwnerUserId)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
                                {
                                    @Html.DropDownList("OwnerUserId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.OwnerUser.FullName)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.AssignedToUserId)
                            </div>
                            <div class="col-md-9">
                                @if (UserRolesHelper.IsUserInRole(userId, Role.PROJECT_MANAGER))
                                {
                                    @Html.DropDownList("AssignedToUserId", null, htmlAttributes: new { @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.AssignedToUser.FullName)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 modal-footer well-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="@Url.Action(ActionName.INDEX, ControllerName.TICKETS)" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>