@model IEnumerable<BugTracker.Models.Tickets>
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Tickets";
    string userId = User.Identity.GetUserId();
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/Dependencies/dataTables/DataTables-1.10.12.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('#tblTickets').DataTable();
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="well bs-component" style="padding-top:0px;">
    <h2>Tickets&nbsp;
        @if (ViewBag.OnlyShowArchived)
        {
            <a href="@Url.Action(ActionName.CREATE, ControllerName.TICKETS)" data-toggle="tooltip" data-placement="right" title="Create a new ticket"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        }
    </h2>
    <p>
        @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
        {
            <a href="@Url.Action(ActionName.INDEX, ControllerName.TICKETS, routeValues: new { onlyShowArchived = ViewBag.OnlyShowArchived })" class="btn btn-primary">@ViewBag.Display</a>
        }
    </p>
    <table id="tblTickets" class="table stripe row-border compact">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>
                    Assignee
                </th>
                <th>
                    Owner
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @if (UserRolesHelper.IsUserInRole(userId, Role.STAKEHOLDERS))
                        {
                            <a href="@Url.Action(ActionName.EDIT, ControllerName.TICKETS, new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Edit ticket"><i class="fa fa-pencil" aria-hidden="true"></i></a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        }
                        <a href="@Url.Action(ActionName.DETAILS, ControllerName.TICKETS, new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="View ticket details"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR) || UserRolesHelper.IsUserInRole(userId, Role.PROJECT_MANAGER))
                        {
                            <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="@Url.Action(ActionName.DELETE, ControllerName.TICKETS, new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Archive ticket"><i class="fa fa-archive" aria-hidden="true"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>