@model IEnumerable<BugTracker.Models.Tickets>
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    string userId = User.Identity.GetUserId();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Ticket", "Create")
    @if (UserRolesHelper.IsUserInRole(userId, Role.DEVELOPER))
    {
        <span> | </span>@Html.ActionLink("View Tickets Assigned To Me", "TicketsAssignedToDeveloper")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
        <th>
            Type
        </th>
        <th>
            Assignee
        </th>
        <th>
            Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
