@model IEnumerable<BugTracker.Models.Tickets>
@using BugTracker.Models

@{
    ViewBag.Title = "My Tickets";
}
<script src="~/Dependencies/jQuery/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/Dependencies/dataTables/DataTables-1.10.12.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('#tblTickets').DataTable();
    });
</script>
<h2>Tickets Assigned to You</h2>
@Html.ActionLink("Back", ActionName.INDEX, ControllerName.TICKETS)
<table id="tblTickets" class="table stripe row-border compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                Assignee
            </th>
            <th>
                Owner
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Tickets)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Project.Name
                </td>
                <td>
                    @*@item.TicketPriority.Name*@
                </td>
                <td>
                    @*@item.TicketStatus.Name*@
                </td>
                <td>
                    @item.TicketType
                </td>
                <td>
                    @item.AssignedToUser.FullName
                </td>
                <td>
                    @item.OwnerUser.FullName
                </td>
                <td>
                    @item.Created
                </td>
                <td>
                    @item.Updated
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>