@model BugTracker.Models.ProjectViewModel
@using BugTracker.Models
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework

@{
    ViewBag.Title = "Edit";
    string userId = User.Identity.GetUserId();
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.projectName</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    @if (UserRolesHelper.IsUserInRole(userId, Role.ADMINISTRATOR))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.Name)
    }

        <div class="form-group">
            Users (selecting or deselecting a user or users will assign or unassign them to the project when you press save)
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedUsers, Model.Users, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SelectedUsers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
